<div class="card">
    <div class="item item-text-wrap">
        {{ 'CONSENT_INTRO' | translate }}
    </div>
</div>

</br>

<ion-toggle ng-model="registerDataForm.op_consent1" toggle-class="toggle-calm" class="item-text-wrap">{{ 'CONSENT_1' | translate }}</ion-toggle>

<ion-toggle ng-model="registerDataForm.op_consent2" toggle-class="toggle-calm" class="item-text-wrap">{{ 'CONSENT_2' | translate }}</ion-toggle>

<ion-toggle ng-model="registerDataForm.op_consent3" toggle-class="toggle-calm" class="item-text-wrap">{{ 'CONSENT_3' | translate }}</ion-toggle>

<ion-toggle ng-model="registerDataForm.op_consent4" toggle-class="toggle-calm" class="item-text-wrap">{{ 'CONSENT_4' | translate }}</ion-toggle>

<ion-toggle ng-model="registerDataForm.op_consent5" toggle-class="toggle-calm" class="item-text-wrap">{{ 'CONSENT_5' | translate }}</ion-toggle>

<ion-toggle ng-model="registerDataForm.op_consent6" toggle-class="toggle-calm" class="item-text-wrap">{{ 'CONSENT_6' | translate }}</ion-toggle>

<ion-toggle ng-model="registerDataForm.op_consent7" toggle-class="toggle-calm" class="item-text-wrap">{{ 'CONSENT_7' | translate }}</ion-toggle>

<ion-toggle ng-model="registerDataForm.op_consent8" toggle-class="toggle-calm" class="item-text-wrap">{{ 'CONSENT_8' | translate }}</ion-toggle>

<ion-toggle ng-model="registerDataForm.op_consent9" toggle-class="toggle-calm" class="item-text-wrap">{{ 'CONSENT_9' | translate }}</ion-toggle>

<ion-toggle ng-model="registerDataForm.op_consent10" toggle-class="toggle-calm" class="item-text-wrap">{{ 'CONSENT_10' | translate }}</ion-toggle>

<ion-toggle ng-model="registerDataForm.op_consent11" toggle-class="toggle-calm" class="item-text-wrap">{{ 'CONSENT_11' | translate }}</ion-toggle>

<ion-toggle ng-model="registerDataForm.op_consent12" toggle-class="toggle-calm" class="item-text-wrap">{{ 'CONSENT_12' | translate }}</ion-toggle>

<button class="button button-block button-positive" ng-disabled="consentCheck" ng-click="consentComplete()">
    Next
</button>
