<ion-view id="aboutIndex" title="{{ 'ABOUT_INDEX' | translate }}">
    <ion-content scroll="true">
        <a class="button icon-left ion-chevron-left button-clear button-dark" ui-sref="tabs.account">{{ 'BACK_ACCOUNT' | translate }}</a>
        <p class="padding">
            InDEx is a project funded by the <b>Medical Research Council</b> to develop an alcohol intervention delivered via a web and mobile app with personalised text messaging. Our aim is to help people leaving the UK Armed Forces to reduce their drinking and to understand more about their patterns of drinking.
        </p>
        <p class="padding">
            The InDEx app is being developed by <b>King's Centre for Military Health Research at King's College London</b> and <b>University of Liverpool</b>. The study is led by Dr Laura Goodwin (University of Liverpool) with Professor Nicola Fear managing contributions from the King's Centre for Military Health Research.
        </p>
        <p class="padding">
            Dr Daniel Leightley (King's Centre for Military Health Research) leads the design, development and deployment of the InDEx architecture and ecosystem. Jo-Anne Puddephatt (University of Liverpool) is responsible for the analysis and data collection.
        </p>
        <p class="padding">
            Other members of the team include Professor Matt Field (University of Liverpool), Professor Colin Drummond (King's College London, Department of Addictions), Professor Roberto Rona (King's Centre for Military Health Research), Dr Toktam Mahmoodi (King's College London, Department of Informatics) and Lt Col Norman Jones ARRC PhD (Academic Department of Military Mental Health).
        </p>
        <p class="padding">
            Our project website is accessible via the following link: <a href="https://www.index-app.org">index-app.org</a>.
        </p>
    </ion-content>
</ion-view>
