<ion-view id="support" title="{{ 'SUPPORT' | translate }}">
    <ion-content class="padding" scroll="true">

        <h3>Organisations to contact if you are worried about your drinking:</h3>

        <div class="card">
            <div class="item item-divider">
                <b>Drinkline</b>
            </div>
            <div class="item item-text-wrap">
                Drinkline runs a free, confidential helpline for people who are concerned about their drinking, or someone else's. The purpose of the Drinkline service is to offer free, confidential, accurate and consistent information and advice to callers who are concerned
                about their own or someone else`s drinking regardless of the caller`s age, gender, sexuality, ethnicity or spirituality.
            </div>
            <div class="item item-divider">
                <b>Helpline:</b> 0300 123 1110
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                <b>Addaction</b>
            </div>
            <div class="item item-text-wrap">
                A UK wide treatment agency, helping individuals, families and communities to manage the effects of drug and alcohol misuse.
            </div>
            <div class="item item-divider">
                <b>Website:</b> <a href="http://www.addaction.org.uk/"> http://www.addaction.org.uk/</a>
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                <b>Al-Anon</b>
            </div>
            <div class="item item-text-wrap">
                Al-Anon is worldwide and offers support and understanding to the families and friends of problem drinkers.
            </div>
            <div class="item item-divider">
                <b>Helpline:</b> 0207 4030 888
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                <b>Samaritans</b>
            </div>
            <div class="item item-text-wrap">
                Provides confidential non-judgmental emotional support, 24 hours a day for people who are experiencing feelings of distress, despair or suicide.
            </div>
            <div class="item item-divider">
                <b>Helpline:</b> 08457 909 090
            </div>
        </div>

        <h3>Organisations which offer support specifically for veterans:</h3>

        <div class="card">
            <div class="item item-divider">
                <b>Armed Forces Community Directory</b>
            </div>
            <div class="item item-text-wrap">
                Information on a range of available health, education, employment, housing, legal and welfare services for members of the Armed Forces community, including veterans by geographical area.
            </div>
            <div class="item item-divider">
                <b>Website:</b> <a href="https://www.afcom.com"> https://www.afcom.com</a>
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                <b>Civvy Street</b>
            </div>
            <div class="item item-text-wrap">
                Free online service supported by The Royal British Legion to help Service personnel transition into civilian life. Provides information, interactive services, resources and links to employers and service organisations.
            </div>
            <div class="item item-divider">
                <b>Website:</b> <a href="https://www.civvystreet.org"> https://www.civvystreet.org</a>
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                <b>Royal British Legion</b>
            </div>
            <div class="item item-text-wrap">
                The Royal British Legion helps serving members of the Armed Forces, ex-Service men and women (veterans), their families and dependants all year-round.
            </div>
            <div class="item item-divider">
                <b>Helpline:</b> 08457 725 725
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                <b>Veteran’s Association UK</b>
            </div>
            <div class="item item-text-wrap">
                The Veteran's Association UK's provides to veterans, serving personnel and their families in accessing pensions, benefits, housing, treatment for mental or other health issues.
            </div>
            <div class="item item-divider">
                <b>Helpline:</b> 01282 219 391
            </div>
        </div>
    </ion-content>
</ion-view>
